<div id="inicial">
  <div class="container-fluid" *ngIf="varGlobal.logado">
    <div class="row">
      <div class="col" id="titulo">
        SPED Contribuições
      </div>
    </div>
    <div class="row" id="corretor">
      <div class="col">
        <div class="row">
          <div class="col" id="titulo1">
            Corretor de Arquivos
          </div>
        </div>
        <!-- Selecionar Arquivo -->
        <div class="row" style="margin-top: 20px; position: relative; left: 37px;">
          <div class="col" style="text-align: right; margin: 1px; padding: 0;">
            <input type="file" #arquivo style="display: none" (change)="mudouArquivo($event)" id="arquivoid" accept=".txt"/>
            <ui5-input type="Text" [value]="txtName" readonly="true" style="width: 200px;"></ui5-input>
          </div>
          <div class="col" style="text-align: left; margin: 1px; padding: 0;">
            <ui5-button design="Default" (click)="abrirSelArquivo()">Selecionar</ui5-button>
          </div>
        </div>
        <!-- Comandos -->
        <div class="row">
          <div class="col" style="text-align: right; margin-top: 10px;">
            <ui5-button design="Default" (click)="txtCorrigido? salvarArquivo() : corrigir()"
            [disabled]="sText===undefined && txtCorrigido===undefined">
              {{txtCorrigido? 'Salvar Corrigido' : 'Corrigir Arquivo'}}</ui5-button>
          </div>
          <div class="col" style="text-align: left; margin-top: 10px;">
            <ui5-button design="Default" (click)="listarProblemas()" [disabled]="problemas.length===0 || mostrarProblemas"
            (blur)="carregouProblemas()">Listar Correções</ui5-button>
          </div>
        </div>
      </div>
    </div>
    <!-- Lista das Correções -->
    <div class="row">
      <div class="col" style="text-align: center;">
        <ui5-busyindicator #busycontainer active size="Medium" style="visibility: hidden; margin-top: 50px;"></ui5-busyindicator>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row" *ngIf="mostrarProblemas">
      <div class="col-2"></div>
      <div class="col-8" id="listacorrecoes">
        <div class="row" id="titulotabela">
          <div class="col-10">
            <label class="titulocorrecoes">Correções Efetuadas</label>
          </div>
          <div class="col-1">
            <ui5-button icon="download" aria-labelledby="lblAccept" (click)="exportaProblemasCSV()" style="height: 20px;"
            title="Salvar como CSV">
            </ui5-button>
          </div>
          <div class="col-1">
            <ui5-button icon="accept" aria-labelledby="lblAccept" (click)="mostrarProblemas=false" style="height: 20px;"
            title="Fechar lista de correções">
            </ui5-button>
          </div>
        </div>

        <div class="row" id="titulos">
          <div class="col-1"><label class="titulocoluna">Nº</label></div>
          <div class="col-1"><label class="titulocoluna">Linha</label></div>
          <div class="col-1"><label class="titulocoluna">Campo</label></div>
          <div class="col-3"><label class="titulocoluna">Descrição</label></div>
          <div class="col-2"><label class="titulocoluna">Como Estava</label></div>
          <div class="col-4"><label class="titulocoluna">Como Ficou</label></div>
        </div>
        <div id="table">
          <div class="row" id="cadaitem" *ngFor="let item of problemas; let n = index">
            <div class="col-1" style="text-align: center;">
              {{n + 1}}
            </div>
            <div class="col-1" *ngIf="item.linha!==null">
              {{item.linha + 1}}
            </div>
            <div class="col-1" *ngIf="item.linha===null">
              Inserida
            </div>
            <div class="col-1">
              {{item.campo}}
            </div>
            <div class="col-3">
              {{item.descricao}}
            </div>
            <div class="col-2">
              {{item.antes}}
            </div>
            <div class="col-4">
              {{item.depois}}
            </div>
          </div>
        </div>

        <div class="row" *ngIf="false">
          <ui5-table class="tabela-correcoes" id="table" sticky-column-header>
            <!-- Columns -->
            <ui5-table-column slot="columns" style="width: 50px" sticky>
              <span style="line-height: 1.4rem">Nº</span>
            </ui5-table-column>

            <ui5-table-column slot="columns" style="width: 50px" sticky>
              <span style="line-height: 1.4rem">Linha</span>
            </ui5-table-column>

            <ui5-table-column slot="columns" style="width: 50px" sticky>
              <span style="line-height: 1.4rem">Campo</span>
            </ui5-table-column>

            <ui5-table-column slot="columns" style="width: 150px" min-width="600" popin-text="Descrição" demand-popin sticky>
              <span style="line-height: 1.4rem">Descrição</span>
            </ui5-table-column>

            <ui5-table-column slot="columns" style="width: 150px" min-width="600" popin-text="Como Estava" demand-popin sticky>
              <span style="line-height: 1.4rem">Como Estava</span>
            </ui5-table-column>

            <ui5-table-column slot="columns" style="width: 150px" min-width="600" popin-text="Como Ficou" demand-popin sticky>
              <span style="line-height: 1.4rem">Como Ficou</span>
            </ui5-table-column>

            <ui5-table-row  *ngFor="let item of problemas; let n = index">
              <ui5-table-cell>
                {{n + 1}}
              </ui5-table-cell>
              <ui5-table-cell *ngIf="item.linha!==null">
                {{item.linha + 1}}
              </ui5-table-cell>
              <ui5-table-cell *ngIf="item.linha===null">
                Inserida
              </ui5-table-cell>
              <ui5-table-cell>
                {{item.campo}}
              </ui5-table-cell>
              <ui5-table-cell>
                {{item.descricao}}
              </ui5-table-cell>
              <ui5-table-cell>
                {{item.antes}}
              </ui5-table-cell>
              <ui5-table-cell>
                {{item.depois}}
              </ui5-table-cell>
            </ui5-table-row>
          </ui5-table>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
