#inicial {
  min-height: 83vh;
  padding: 0;
  margin: 0;
  background-color: rgb(231, 231, 231);
}

#titulo,
#titulo1 {
  margin: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #427CAC;
}

#corretor {
  position: relative;
  margin: 10px;
  padding: 5px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  border: thin solid gray;
  border-radius: 5px;
}

#subtitulo {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

#listacorrecoes {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  width: 500px;
  border: 1px solid rgb(224, 220, 220);
  background-color: #3F5161;
}

.titulocorrecoes {
  position: relative;
  margin-top: 4px;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
  color: white;
}

#table {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  font-size: 14px;
}

#titulotabela {
  margin: 0;
}

#titulos {
  position: relative;
  margin: 0;
  border-top: 1px solid rgb(224, 220, 220);
  border-bottom: 1px solid rgb(224, 220, 220);
  color: white;
}

.titulocoluna {
  position: relative;
  margin-top: 4px;
  left: 40%;
  transform: translateX(-52%);
  font-size: 14px;
  font-weight: bold;
}

#cadaitem {
  margin: 0;
  border-bottom: 1px solid rgb(224, 220, 220);
}
