.componente {
  /* width: 100vw; */
  height: 93vh;
  padding: 0;
  margin: 0;
}

#informar {
  width: 50vw;
  height: 100px;
  position: absolute;
  top: 35vh;
  left: 25%;
  color: white;
}

.mensagem {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .mensagem {
    font-size: 26px;
  }
}

@media screen and (max-width: 770px) {
  .mensagem {
    font-size: 24px;
  }
}

@media screen and (max-width: 630px) {
  .mensagem {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .mensagem {
    font-size: 18px;
  }
}

#background {
  width: 99.85vw;
}

.bg_img {
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 93vh;
  position: relative;
  z-index: -1001;
  background: url('../../assets/background.jpg') no-repeat;
  background-size: cover;
  opacity: 0.9;
}
