<div class="componente">
  <div id="informar">
    <div class="mensagem" *ngIf="!varGlobal.logado">
      Estamos prontos para checar as obrigações fiscais da sua empresa!
    </div>
    <div class="mensagem" *ngIf="varGlobal.logado">
      Bem vindo! Escolha a funcionalidade desejada no menu acima à direita.
    </div>
  </div>
  <div class="row" id="background">
    <div class="bg_img"></div>
  </div>
</div>
