<header>
  <ui5-shellbar
    id="shellbar"
    logo="../../assets/logo-origen.png"
    (profileClick)="popover.openBy($event.detail.targetRef)">
  </ui5-shellbar>
  <ui5-label id="titulo">Tax Check</ui5-label>
  <ui5-popover #popover id="popover" placement-type="Bottom" (keydown.enter)="varGlobal.logado?null:logar()">
    <div class="popover-header" *ngIf="varGlobal.logado">
      <ui5-title style="padding: 0.25rem 1rem 0rem 1rem">Master</ui5-title>
    </div>

    <div class="popover-content" *ngIf="varGlobal.logado">
      <ui5-list separators="None" >
        <ui5-li icon="log" (click)="sair()">Sair</ui5-li>
      </ui5-list>
    </div>

    <div class="popover-content" *ngIf="!varGlobal.logado">
      <div class="flex-column" style="text-align: center;">
        <ui5-icon name="person-placeholder"></ui5-icon>
        <ui5-input type="Text" id="usuarioid" [(ngModel)]="usuario" origami class="samples-margin-top"
        placeholder="Usuário"></ui5-input>
      </div>
      <div class="flex-column" style="text-align: center;">
        <ui5-icon name="permission"></ui5-icon>
        <ui5-input type="Password" id="senhaid" [(ngModel)]="senha" origami class="samples-margin-top"
        placeholder="Senha"></ui5-input>
      </div>
    </div>
    <div slot="footer" class="popover-footer" style="margin-top: 5px; margin-bottom: 5px;" *ngIf="!varGlobal.logado">
      <div style="flex: 1;"></div>
      <ui5-button id="closePopoverButton" design="Default" (click)="logar()">Entrar</ui5-button>
    </div>
  </ui5-popover>
  <ui5-popover id="menu" placement-type="Bottom">
    <ui5-product-switch>
      <ui5-product-switch-item heading="Home" icon="home" (click)="paraHome()"></ui5-product-switch-item>
      <ui5-product-switch-item heading="SPED Contribuições" icon="business-objects-experience" (click)="paraContrib()">

      </ui5-product-switch-item>
    </ui5-product-switch>
  </ui5-popover>
</header>
<content>
  <ui5-dialog id="cxdialogo">
    <div>
      <ui5-label>{{mensagemDialogo}}</ui5-label>
    </div>

    <div slot="footer" style="text-align: center;">
      <div style="flex: 1;"></div>
      <ui5-button id="closeDialogButton" design="Emphasized" (click)="fecharDialogo()">Ok</ui5-button>
    </div>
  </ui5-dialog>
</content>
